.niveles{
  margin-top: 20px;
}

.btn button{
  padding: 5px 15px;
  margin-left: 9px;
  float: right;
  margin-right: 60%;
  margin-top: 0%;
}

.repeticiones{
  margin-top: 20px;
  margin-left: 15PX;
}

.valores{
  margin: 10px;
}

.valor{
  margin-bottom: 4px;
  margin-right: 15px;
}

.valor label{
  margin-right: 15px;
}


span {
  margin-top: -50px;
}

.columna-derecha{
  float: left;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul{
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

.example-tree li {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
